[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,tag,html,ejs,scss,styl,hbs}]
indent_style = space
indent_size = 2

[*.{jade}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
