html(lang='en')
  head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= 'Ivana Costa'
  link(rel="stylesheet", href="/assets/css/styles.css" type="text/css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
  .container-fluid
    .header
    h1.text-primary.text-center Ivana Costa :D
    p.text-center Front-end developer
    .main
    a(href='/blog') Go to blog
